In [1]:
!gdown 1uBB1l_mrjf9LCWz0EqfqMe3uhD5LrX71 # tokenizer_en

Downloading...
From: https://drive.google.com/uc?id=1uBB1l_mrjf9LCWz0EqfqMe3uhD5LrX71
To: /content/tokenizer_en.pickle
100% 2.61M/2.61M [00:00<00:00, 84.3MB/s]

In [30]:
import pandas as pd
import re
import pickle
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [18]:
samples = {
    'col': [
             'this is english.',
             'this is great.',
             'I am a good man.',
             'You are a good woman too.'
    ]
}

In [19]:
data = pd.DataFrame(samples)

In [23]:
len(data)

4

In [20]:
def preprocess_sentence(sent):
  # 단어와 구두점 사이에 공백을 만듭니다.
  # Ex) "he is a boy." => "he is a boy ."
  sent = re.sub(r"([?.!,¿])", r" \1", sent)

  # (a-z, A-Z, ".", "?", "!", ",") 이들을 제외하고는 전부 공백으로 변환합니다.
  sent = re.sub(r"[^a-zA-Zㄱ-ㅎ가-힣!.?]+", r" ", sent)

  # 다수 개의 공백을 하나의 공백으로 치환
  sent = re.sub(r"\s+", " ", sent)
  return sent

In [21]:
def load_preprocessed_data(df, df_col_name):
    
    encoder_input = []

    for i in range(int(len(df))):
        # source 데이터와 target 데이터 분리
        src_line = df[f'{df_col_name}'].iloc[i]
        # source 데이터 전처리
        src_line = [w for w in preprocess_sentence(src_line).split()]
        src_line.reverse()

        encoder_input.append(src_line)

    return encoder_input

In [25]:
sents_en_in = load_preprocessed_data(data, 'col')
sents_en_in

[['.', 'english', 'is', 'this'],
 ['.', 'great', 'is', 'this'],
 ['.', 'man', 'good', 'a', 'am', 'I'],
 ['.', 'too', 'woman', 'good', 'a', 'are', 'You']]

In [27]:
with open("tokenizer_en.pickle","rb") as fr:
    tokenizer_en = pickle.load(fr)

In [28]:
encoder_input = tokenizer_en.texts_to_sequences(sents_en_in)

In [29]:
encoder_input

[[1, 9493, 7, 25],
 [1, 240, 7, 25],
 [1, 348, 66, 5, 51, 3],
 [1, 131, 480, 66, 5, 18, 50]]

In [31]:
encoder_input = pad_sequences(encoder_input, padding='post', maxlen=51) # maxlen 51?

In [32]:
encoder_input

array([[   1, 9493,    7,   25,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0],
       [   1,  240,    7,   25,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0],
       [   1,  348,   66,    5,   51,    3,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0],
       [   1,  131,  480,   66,    5,   18,   50,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0]], dtype=int32)